name: CI Pipeline

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main, develop ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      repository-projects: write
      security-events: write
    services:
      postgres:
        image: postgis/postgis:17-3.6-alpine
        env:
          POSTGRES_DB: courier_db
          POSTGRES_USER: courier_user
          POSTGRES_PASSWORD: courier_pass
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven

    - name: Build and Run Tests
      run: ./mvnw --no-transfer-progress clean install
      env:
        SPRING_DATASOURCE_URL: jdbc:postgresql://localhost:5432/courier_db
        SPRING_DATASOURCE_USERNAME: courier_user
        SPRING_DATASOURCE_PASSWORD: courier_pass

    - name: Upload JaCoCo report
      uses: actions/upload-artifact@v4
      with:
        name: jacoco-report
        path: target/site/jacoco/

    - name: Publish test coverage summary
      uses: madrapps/jacoco-report@v1.7.2
      with:
        paths: ${{ github.workspace }}/**/target/site/jacoco/*.xml
        token: ${{ secrets.GITHUB_TOKEN }}
        title: '# :mag_right: Test Coverage Report'
        min-coverage-overall: 0
        min-coverage-changed-files: 0
        update-comment: true
        pass-emoji: ':white_check_mark:'
        fail-emoji: ':x:'
        debug-mode: 'true'
    - name: CodeQL Analysis # CodeQL for source code scan
      uses: github/codeql-action/init@v4
      with:
        languages: java
        trap-caching: false

    - name: Build Docker image
      run: docker build --quiet -t i-need-courier:${{ github.sha }} .

